.boardContainer {
  height: 65vh;
  width: 70vw;
  border: 1px solid black;
  perspective: 500px;
  display: flex;
  justify-content: center;
}

.board {
  transform: rotateX(33deg);
  background-color: cadetblue;
  width: 100%;
  padding: 20px;
  display: flex;
}

.cardPlaceholder {
  width: 60px;
  height: 83px;
  transform: rotateZ(180deg);
}

.boardCard {
  width: inherit;
  height: inherit;
}

.bottomSide {
  border: black solid 1px;
  align-self: flex-end;
  width: inherit;
  height: 50%;
  display: flex;
}
