.cardContainer {
  display: block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  cursor: pointer;
  backface-visibility: hidden;
}

.cardImage {
  width: inherit;
  height: inherit;
  position: absolute;
  backface-visibility: hidden;
}

/*.zoomInOnHover {*/
  /*transition: 0.3s;*/
/*}*/

/*.zoomInOnHover:hover {*/
  /*width: 150px;*/
  /*height: 195px;*/
  /*margin: -15px -15px; !* initial margin - ((initial margin - width change (or height change))/2) *!*/
  /*position: relative;*/
  /*z-index: 2;*/
/*}*/

.slideTop {
  -webkit-animation: slideTop 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slideTop 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes drawCard {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hoverCard {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

@-webkit-keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(150px) rotateX(90deg);
    transform: translateY(150px) rotateX(90deg);
  }
}
@keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(150px) rotateX(90deg);
    transform: translateY(150px) rotateX(90deg);
  }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slideTop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }
}
@keyframes slideTop {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }
}
